layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/pwshprofile/zellij/layouts/zjstatus.wasm" {
                color_bg "#332A57"
                color_mode_bg "#fffa6a"
                color_mode_2_bg "#00bfff"
                color_mode_fg "#332A"

                color_tab_normal_bg "#e0e0e0"
                color_tab_normal_fg "#1e2030"

                color_tab_active_bg "#00fbac"
                color_tab_active_fg "#1e2030"

                color_hi_bg "#ce5efe"
                color_session_fg "#000000"
                color_session_bg "#00bfff"
                color_datetime_fg "#000000"
                color_datetime_bg "#ffb56a"

                format_left   "{mode}#[bg=$bg] {tabs}"
                format_center "#[bg=$bg,fg=$hi_bg]#[bg=$hi_bg,fg=$bg,bold]  🤖  #[bg=$bg,fg=$hi_bg,bold]"
                format_right  "#[bg=$bg,fg=$session_bg]#[bg=$session_bg,fg=$session_fg,bold] {session} #[bg=$datetime_bg,fg=$session_bg]#[bg=$datetime_bg,fg=$datetime_fg] 👻 #[bg=$bg,fg=$datetime_bg,bold]"
                format_space  "#[bg=$bg]"
                format_hide_on_overlength "true"
                format_precedence "lcr"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                // hide_frame_for_single_pane "true"

                mode_normal        "#[bg=$bg,fg=$mode_bg]#[bg=$mode_bg,fg=$bg,bold]🐚#[                              bg=$bg,fg=$mode_bg]"
                mode_locked        "#[bg=$bg,fg=$mode_bg]#[bg=$mode_bg,fg=$bg,bold]🐚#[bg=$mode_2_bg,fg=$mode_bg]#[bg=$mode_2_bg,fg=$bg] 🔒#[    bg=$bg,fg=$mode_2_bg]"
                mode_resize        "#[bg=$bg,fg=$mode_bg]#[bg=$mode_bg,fg=$bg,bold]🐚#[bg=$mode_2_bg,fg=$mode_bg]#[bg=$mode_2_bg,fg=$bg] Resize#[      bg=$bg,fg=$mode_2_bg]"
                mode_pane          "#[bg=$bg,fg=$mode_bg]#[bg=$mode_bg,fg=$bg,bold]🐚#[bg=$mode_2_bg,fg=$mode_bg]#[bg=$mode_2_bg,fg=$bg] Pane#[        bg=$bg,fg=$mode_2_bg]"
                mode_tab           "#[bg=$bg,fg=$mode_bg]#[bg=$mode_bg,fg=$bg,bold]🐚#[bg=$mode_2_bg,fg=$mode_bg]#[bg=$mode_2_bg,fg=$bg] Tab#[         bg=$bg,fg=$mode_2_bg]"
                mode_scroll        "#[bg=$bg,fg=$mode_bg]#[bg=$mode_bg,fg=$bg,bold]🐚#[bg=$mode_2_bg,fg=$mode_bg]#[bg=$mode_2_bg,fg=$bg] Scroll#[      bg=$bg,fg=$mode_2_bg]"
                mode_enter_search  "#[bg=$bg,fg=$mode_bg]#[bg=$mode_bg,fg=$bg,bold]🐚#[bg=$mode_2_bg,fg=$mode_bg]#[bg=$mode_2_bg,fg=$bg] Ent-Search#[  bg=$bg,fg=$mode_2_bg]"
                mode_search        "#[bg=$bg,fg=$mode_bg]#[bg=$mode_bg,fg=$bg,bold]🐚#[bg=$mode_2_bg,fg=$mode_bg]#[bg=$mode_2_bg,fg=$bg] SearchArcH#[  bg=$bg,fg=$mode_2_bg]"
                mode_rename_tab    "#[bg=$bg,fg=$mode_bg]#[bg=$mode_bg,fg=$bg,bold]🐚#[bg=$mode_2_bg,fg=$mode_bg]#[bg=$mode_2_bg,fg=$bg] Rename-Tab#[  bg=$bg,fg=$mode_2_bg]"
                mode_rename_pane   "#[bg=$bg,fg=$mode_bg]#[bg=$mode_bg,fg=$bg,bold]🐚#[bg=$mode_2_bg,fg=$mode_bg]#[bg=$mode_2_bg,fg=$bg] Rename-Pane#[ bg=$bg,fg=$mode_2_bg]"
                mode_session       "#[bg=$bg,fg=$mode_bg]#[bg=$mode_bg,fg=$bg,bold]🐚#[bg=$mode_2_bg,fg=$mode_bg]#[bg=$mode_2_bg,fg=$bg] Session#[     bg=$bg,fg=$mode_2_bg]"
                mode_move          "#[bg=$bg,fg=$mode_bg]#[bg=$mode_bg,fg=$bg,bold]🐚#[bg=$mode_2_bg,fg=$mode_bg]#[bg=$mode_2_bg,fg=$bg] Move#[        bg=$bg,fg=$mode_2_bg]"
                mode_prompt        "#[bg=$bg,fg=$mode_bg]#[bg=$mode_bg,fg=$bg,bold]🐚#[bg=$mode_2_bg,fg=$mode_bg]#[bg=$mode_2_bg,fg=$bg] Prompt#[      bg=$bg,fg=$mode_2_bg]"
                mode_tmux          "#[bg=$bg,fg=$mode_bg]#[bg=$mode_bg,fg=$bg,bold]🐚#[bg=$mode_2_bg,fg=$mode_bg]#[bg=$mode_2_bg,fg=$bg] Tmux#[        bg=$bg,fg=$mode_2_bg]"

                tab_active              "#[bg=$bg,fg=$tab_active_bg]#[bg=$tab_active_bg,fg=$tab_active_fg,bold]{name}{floating_indicator}#[  bg=$bg,fg=$tab_active_bg,bold]"
                tab_active_fullscreen   "#[bg=$bg,fg=$tab_active_bg]#[bg=$tab_active_bg,fg=$tab_active_fg,bold]{name}{fullscreen_indicator}#[bg=$bg,fg=$tab_active_bg,bold]"
                tab_active_sync         "#[bg=$bg,fg=$tab_active_bg]#[bg=$tab_active_bg,fg=$tab_active_fg,bold]{name}{sync_indicator}#[      bg=$bg,fg=$tab_active_bg,bold]"
                tab_normal              "#[bg=$bg,fg=$tab_normal_bg]#[bg=$tab_normal_bg,fg=$tab_active_fg,bold]{name}{floating_indicator}#[  bg=$bg,fg=$tab_normal_bg,bold]"
                tab_normal_fullscreen   "#[bg=$bg,fg=$tab_normal_bg]#[bg=$tab_normal_bg,fg=$tab_active_fg,bold]{name}{fullscreen_indicator}#[bg=$bg,fg=$tab_normal_bg,bold]"
                tab_normal_sync         "#[bg=$bg,fg=$tab_normal_bg]#[bg=$tab_normal_bg,fg=$tab_active_fg,bold]{name}{sync_indicator}#[      bg=$bg,fg=$tab_normal_bg,bold]"

                // separator between the tabs
                tab_separator           "#[bg=$bg] "

                // indicators
                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                datetime        " {format} "
                datetime_format "🗓️  %Y-%m-%d 🕑 %I:%M"
                datetime_timezone "America/Los_Angeles"
            }
        }
    }
}